@keyframes flip {
    0% {
      transform: rotateX(0);
    }
    50% {
      transform: rotateX(90deg);
    }
    100% {
      transform: rotateX(0);
    }
  }
  
  .flip-card {
    display: inline-block;
    perspective: 100rem;
  }
  
  .flip-card-inner {
    display: inline-block;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .flip-card.flipping .flip-card-inner {
    animation: flip 1s;
  }
  
  .flip-card-front,
  .flip-card-back {
    backface-visibility: hidden;
    display: inline-block;
  }
  
  .flip-card-back {
    transform: rotateX(180deg);
  }
  