.App {
  text-align: center;
  scroll-behavior: smooth;
  overflow-y: auto;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  scroll-snap-align: start;
  background-size: cover;
  background-position: center;
  padding-top: 4rem;
}

.home-section {
  background-image: url("./assets/backgrounds/home2.webp");
}

.about-section {
  background-image: url("./assets/backgrounds/about.webp");
}

.projects-section {
  background-image: url("./assets/backgrounds/projects.webp");
}

.contact-section {
  background-image: url("./assets/backgrounds/contact.webp");
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}
